@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body,
html {
    height: 100%;
    font-family: "Poppins", sans-serif;
}


.limiter {
    width: 100%;
    margin: 0 auto
}

.container-table100 {
    width: 100%;
    background: transparent;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 1270px
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: #ebe7f5;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

table * {
    position: relative
}

table td,
table th {
    padding-left: 8px
    
}

table thead tr {
    height: 60px;
    background: #002e86;
}

table tbody tr {
    height: 50px
}

table tbody tr:last-child {
    border: 0
}

table td,
table th {
    text-align: center
}

table td.l,
table th.l {
    text-align: center
}

table td.c,
table th.c {
    text-align: center
}

table td.r,
table th.r {
    text-align: center
}

.table100-head th {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5
}

tbody tr {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
    color: black;
    text-align: center;
    line-height: 1.2;
}

tbody tr:hover {
    color: #555;
    background-color: #f5f5f5;
    cursor: pointer
}

.column1 {
    width: 260px;
    text-align: center;
    font-style: normal;
    padding-left: 40px
}

.column2 {
    width: 160px
}

imgg {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
  }

.column3 {
    width: 245px
}

.column4 {
    width: 150px;
    text-align: center
}

.column5 {
    width: 135px;
    text-align: center
}

.column6 {
    width: 170px;
    text-align: center;
}

.column7 {
    width: 222px;
    text-align: center;
}

.column8 {
    width: 100px;
    text-align: right;
    padding-right: 35px
}

.column8td {
    width: 100px;
    text-decoration: underline;
    color: #06b90f;
    text-align: right;
    padding-right: 35px
}

.column8t {
    width: 100px;
    text-decoration: underline;
    color: red;
    text-align: right;
    padding-right: 35px
}

@media screen and (max-width:992px) {
    table {
        display: block
    }

    table>*,
    table tr,
    table td,
    table th {
        display: block
    }

    table thead {
        display: none
    }

    table tbody tr {
        height: auto;
        padding: 37px 0
    }

    table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px
    }

    table tbody tr td:last-child {
        margin-bottom: 0
    }

    table tbody tr td:before {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        color: #999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0
    }

    table tbody tr td:nth-child(1):before {
        content: "Date"
    }

    table tbody tr td:nth-child(2):before {
        content: "Order ID"
    }

    table tbody tr td:nth-child(3):before {
        content: "Name"
    }

    table tbody tr td:nth-child(4):before {
        content: "Price"
    }

    table tbody tr td:nth-child(5):before {
        content: "Quantity"
    }

    table tbody tr td:nth-child(6):before {
        content: "Total"
    }

    .column4,
    .column5,
    .column6 {
        text-align: left
    }

    .column4,
    .column5,
    .column6,
    .column1,
    .column2,
    .column3 {
        width: 100%
    }

    tbody tr {
        font-size: 14px
    }
}

@media(max-width:576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px
    }
}